.lh-tracker-section {
    display: flex;
    height: 60vh;
    width: 100%;
    opacity: 1;
    // margin: 8rem 0rem 0rem 0rem;
    background-color:  #EEF3FE4D;
    padding: 2rem;
    .lh-trackers-cols{
      height: 100%;
      width: 100%;
      margin: 0 2rem 0 2rem;
      .trackers-right{
        height: auto;
        background-position: center;
        background-image: url('../../images/trackers.png');
        opacity: 1;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .trackers-left {
        display: block;
        position: relative;
        top: 10%;
        left: 0%;
        h2 {
          text-align: left;
          font: bold 40px/100px Product Sans;
          letter-spacing: 0;
          color: #413C48;
          opacity: 1;
        }
        .tracker-1{
          display: block;
          height: 50%;
          width: 100%;
          .track-growth-image {
            background-position: center;
            background-size: 50%;
            background: transparent url('../../images/track-your-growth.svg') 50% 20% no-repeat padding-box;
          }
        }
      }
    }
  }



    // scss for mobile screens 
    @media (min-width: 320px) and (max-width: 480px) {
      .lh-tracker-section {
        width: 100%;
        font-family: 'Product Sans';
        height: 100%;
        padding: 1rem;
        .lh-trackers-cols{
          width: 100%;
          height: 100%;
          margin: 0rem;
          padding: 0 0.5rem 0 0.5rem;
          .trackers-left{
            background-position: 50%;
            justify-content: center;
            height: 100%;
            .tracker-1{
              display: flex;
              .track-growth-image{
                height:100px;
                display: none;
              }
              h1{
                font-size: 1em;
                font-family: 'Product Sans';
                position: relative;
                left: 4rem;
                font-size: 1.2em;
                margin-bottom: 10px;
                color: #0D1A35;
              }
            }
          }
          .trackers-right{
            height: 300px;
          }
        }
      }
    }