header {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  width: inherit;
  animation: smoothScroll 1.4s forwards;
  background-color: #fff;
  z-index: 99;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
  padding-left: 5rem;
  padding-right: 5rem;
}

#intro{
  background: url(https://d2785ds9rd1e5d.cloudfront.net/img/ambreen-hasan-346960.jpg);
  background-size: cover;
  background-position: center;
  height: 510px;
  background-color: rgba(10, 96, 201, 0.95);
  background-blend-mode: luminosity;
}
.top-right-image {
  background : url('../../images/group-160-top-right.svg');
  background-size: contain;
  position: fixed;
  top: 0;
  right: 0;
}


@media (max-width: 768px) {
  .header{
    padding: 0rem;
  }  
  .navbar-end {
    width: 10rem;
    background-color : white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    transition: all 0.4s ease-in-out;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    position: fixed;
    width: 100%;  
    padding-left:0rem;
    padding-right: 0rem;
    height: 4rem;
    left: 0;
    right:0;
    width: inherit;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
  }  
}