html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Product Sans';
}

body.fontLoaded {
  font-family: 'Product Sans';
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

p,
label {
  font-family: 'Product Sans';
  line-height: 1.5em;
}