.health-profiles{
    display: flex;
    width: 25%;
    padding: 1rem;
    align-items: center;;
    .profile-icon{
        float: left;
        height: 100%;
        width: 20%;
        background: url('../../images/health-profile-circle.svg') no-repeat;
        background-size: contain;
    }
    .profile-intro{
        display: block;
        float: right;
        height: 100%;
        width: 80%;
        font: bold 30px Product Sans;
        letter-spacing: 0;
        color: #413C48;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .health-profiles{
        display: flex;
        width: 50%;
        padding: 1rem;
        align-items: center;
        .profile-icon{
            // height: 20px;
            background: url('../../images/health-profile-circle.svg') no-repeat;
            background-size: 75%;
        }
        .profile-intro{
            display: block;
            font: bold 15px Product Sans;
            letter-spacing: 0;
            color: #413C48;
            transform: translate(5%, 3%);
            margin-top: 0px;
            span{
                position: relative;
                transform: translateY(2%);
            }
        }
    }
}