.navbar {
  padding: 0rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  height: 4rem;
  font-family: 'Product Sans';
  .navbar-fixed-top {
    margin-bottom: 0;
    background: transparent;
    color: #fff;
    padding-right: 1rem;
    padding-left: 2rem;
    box-shadow: none;
    width: 100%;
    .logo-placeholder{
      float: left;
      width: 50%;
      height: 100%;
    }
  }
}
.navbar-item {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
a{
  color:#413C48;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 10px;
  position: relative;
  font-weight: 400;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #3A55FF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
  background: #3A55FF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
@media (min-width: 320px) and (max-width: 480px) {
  .navbar .navbar-fixed-top {
    padding-left: 0;
    .logo-placeholder{
    width: 50%;
    height: 100%;
  }
  .navbar-end {
    transition: all 0.4s ease-in-out;
    background-color: #FFFFFF;
  }
}
}