.play-store-wrapper{
    a{
        padding: 0px;
    }
    a::hover{
        background: white;
    }
    a::after {
        content: "";
        background: white;
    }
    img {
        width: 10rem;
    }
}
