.logo{
    cursor: pointer;
    height: 100%;
    width: 80%;
    background: url('../../images/LexHeal.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


@media (min-width: 320px) and (max-width: 480px) {
    .logo{
        cursor: pointer;
        padding: 0;
        background: url('../../images/LexHeal.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }
  }