.tsp-container {
    display: display;
    margin: 4rem 0 0 0rem;
    padding:4rem;
    .page-title{
        margin: 0.5rem;
    }
    .cautionary-text {
        padding-top: 0.5rem;
        margin: 3rem 0 3rem 0rem;
    }
    .page-heading-point{
        font-size: large;
        font:bold;
    }
    .page-points {
        margin:2rem;
        padding:0.3rem;
    }
    .text-bold{
        font-weight: 700;;
    }
    .text-underline {
        text-decoration: underline;
    }
}