@media (min-width: 320px) and (max-width: 480px) {
  .lh-banner-section{
    width: 100%;
    // height: 100%;
    height: 100vh;
    .lh-home-section {
        height: 80vh;
        width: 100%;
        overflow: hidden;
        .lh-home-cols {
          padding: 0rem;
          height: 100%;
          width:100%;
          .family-banner {
              height: 50%;
              background-size: contain;
              background-position: center;
          }
          .intro-box {
            height: 50%;
            position: relative;
            top: 0%;
            // left: 15%;
            .android-playstore{
              top:0rem;

            }
            h1{
              font: bold 20px Product Sans;
            }
          }
        }
    }
    .lh-profile-section {
      padding: 0rem;
      height: 20vh;
      // width: 100%;
      margin: 0rem 2rem 2rem 2rem;
    }
    .profile-heading {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0px;
      font-weight: 700;
      margin: 0rem 2rem 0rem 2rem;
    }
  }
}
