.download-status-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
    .download-circle{
        display: flex;
        flex-direction: column;
        // width: 25%;
        // height: 100%;
        .circle {
            flex-direction: column;
            .align-items-center {
                align-items: center;
            }
        }
        .circle h3{
            position:absolute;
            top:50%; 
            left:50%;
            transform: translate(-50%, -50%);
            margin:0;
        }
        .download-text{
            display: flex; 
            margin-top: -2rem;
            height: 4rem;
            font: regular 48px/51px Product Sans;
            letter-spacing: 0;
            color: #3A55FF;
            opacity: 1;
        }
    }
}

.d-flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .align-items-center {
        align-items: center;
  }


  @media (max-width: 480px) and (min-width: 320px) {
      .download-status-container{
          margin: 3rem;
      }
  }