.lh-features-section {
    display: flex;
    height: 60vh;
    width: 100%;
    opacity: 1;
    font-family: Product Sans;
    // padding: 5rem;
    // margin-top: 5rem;  //TODO: delete this later after test
    background-color: #fff;
    .lh-features-cols{
      height: 100%;
      width: 100%;
      // margin: 0 2rem 0 2rem;  //TODO: delete this later after test
      .features-left{
        height: auto;
        background-position: left;
        background-image: url('../../images/Group-156.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      .features-right {
        // display: block;
        // padding: 5rem 0rem 0rem 4rem;  //TODO: delete this later after test

        position: relative;
        left: 10%;
        top: 15%;
        h3 {
          font-family: 'Product Sans';
          position: relative;
          left: 3rem;
          font-size: 2em;
          margin-bottom: 10px;
          color: #0D1A35;
        }
        .feature-1, .feature-2{
          display: block;
          height: 30%;
          width: 100%;
          margin-bottom: 3rem;
          h1 {
            font-size: larger;
          }
          .track-growth-image {
            background-position: center;
            background-size: 50%;
            background: transparent url('../../images/track-your-growth.svg') 50% 50% no-repeat padding-box;
          }
        }
      }
    }
  }



  // scss for large screens 
  @media (min-width: 320px) and (max-width: 480px) {
    .lh-features-section {
      margin: 1rem auto;
      width: 100%;
      font-family: 'Product Sans';
      height: 100%;
      min-height: 100vh;
      .lh-features-cols{
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden;
        .features-left{
          background-position: 50%;
          justify-content: center;
          margin: 1rem 0 0rem 0rem;
          height: 146px;
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          -ms-flex-order: 2;
          -webkit-order: 2;
          order: 2;
        }
        .features-right{
          padding: 0rem;
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          -ms-flex-order: 2;
          -webkit-order: 2;
          order: 1;
          display: block;
          h3 {
            font-size: 1em;
            font-family: 'Product Sans';
            position: relative;
            width: 70%;
            line-height: 4rem;
            font-size: 1em;
            margin-bottom: 10px;
            color: #0D1A35;
          }
          .feature-1, .feature-2{
            display: flex;
            overflow: hidden;
            margin: 0rem;
            .track-growth-image{
              height:120px;
              width: 35%;
              float: left;
              margin-bottom: 0rem;
            }
            .track-growth-text{
              width: 55%;
              overflow: hidden;
            }
            p {
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
