.lh-get-app-section {
    display: flex;
    height: 60vh;
    width: 100%;
    opacity: 1;
    // margin: 8rem 0rem 0rem 0rem;
    padding: 2rem;
    background-color:  #EEF3FE4D;
    .lh-get-app-section-cols{
      height: 100%;
      width: 100%;
      margin: 0 2rem 0 2rem;
      .get-app-right{
        height: auto;
        background-position: center;
        background-image: url('../../images/Group-150.svg');
        opacity: 1;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .get-app-section-left{
        display: block;
        padding: 3rem;
        h1 {
          text-align: left;
          font-family: Product Sans;
          letter-spacing: 0;
          color: #413C48;
          opacity: 1;
        }
        .get-app-1{
          display: block;
          height: 50%;
          width: 100%;
          .get-app-growth-image {
            background-position: center;
            background-size: 50%;
            background: transparent url('../../images/track-your-growth.svg') 50% 20% no-repeat padding-box;
          }
          .android-app-store-link{
            position: relative;
            top: 2rem;
            left: -1rem;
            img {
              width: 12rem;
            }
          }
        }
      }
    }
  }



@media (min-width: 320px) and (max-width: 480px) {
    .lh-get-app-section{
        width: 100%;
        height: 100%;
        padding: 0rem;
        margin-bottom: 2rem;
        .lh-get-app-section-cols{
          width: 100%;
          height: 100%;
          margin: 0 auto;
          .get-app-right{
            height: 300px;
          }
        }
    }
}