.lh-contact-us-container {
    height: 65vh;
    width: 100%;
    padding: 3rem;
    background-color: #3A55FF;
    font-family: Product Sans;
    letter-spacing: 0;
    opacity: 1;
    text-align: center;
    background-image: url('../../images/contact-us-image.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: left -5rem right 3rem;
    .contact-us-text {
        height: 5rem;
        width: 100%;
        margin: 0rem;
        text-align: center;
        div{
            font-family: Product Sans;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
            position: relative;
            top: 2rem;
        }
        div:after {
            content: "";
            display: block;
            width: 50px;
            margin: 10px auto;
            border-bottom: 10px dotted#E4A307;
        }    
    }
    .help-text {
        position: relative;
        left: 0;
        top: 2rem;
        height: 5rem; 
        color: #FFFFFF;
    }
    .email-address-container{
        display: block;
        color: #FFFFFF;
        font-family: Product Sans;
        letter-spacing: 1;
        font-size : 1.5em;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .service-terms {
        display: block;
        position: relative;
        top: 4rem;
        color: #FFFFFF;
        cursor: pointer;
        p{
            margin-bottom: 1.5rem;
        }
        a{
            color: #FFFFFF;
            font-family: Product Sans;
            display: inline;
            text-decoration: none !important;
        }
        a:hover {
            text-decoration: none !important;
        }
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .email-address-container span{
        font-size: 0.8em;
    }
    .lh-contact-us-container {
        height: 100vh;
    }
}



@media (min-width: 900px) and (max-width: 1400px) {
    .email-address-container span{
        font-size: 0.8em;
    }
    .lh-contact-us-container {
        height: 100vh;
    }
}