.lh-main-container{
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  background-color: #fff;
  font-family: 'Product Sans';
  margin-top: 4rem;
  .lh-home-section{
    height: 80vh;
    background-color: #FFFFFFF7;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../images/home-banner-backhround.svg') no-repeat;
    background-size: 70%;
    .lh-home-cols{
      height: 90%;
      padding: 2.5rem;
      .family-banner{
        margin: 1rem auto;
        height: 100%;
        background-position: center;
        background-image: url('../../images/family-banner.svg');
        background-repeat: no-repeat;
        background-size: 60%;
      }
      .intro-box {
        position: relative;
        left: 20%;
        top: 25%;
        h1 {
          text-align: left;
          font: bold 30px Product Sans;
          letter-spacing: 0;
          color: #413C48;
          opacity: 1;
        }
        .intro-text{
          max-width: 70%;
        }
        .android-playstore {
          position: relative;
          top: 2rem;
          left: -2rem;  
          left: -1rem;
          img {
            width: 12rem;
          }
        }
      }
    }
  }

  // css for health profile section
  .lh-profile-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem 0 5rem;
    // background-color: #fcfcfc;
  }
}