.lh-documents-section {
    display: flex;
    height: 60vh;
    width: 100%;
    opacity: 1;
    // margin: 8rem 0rem 0rem 0rem;
    padding: 2rem;
    background-color: #fff;
    .lh-documents-cols{
      height: 100%;
      width: 100%;
      margin: 0 2rem 0 2rem;
      .documents-left{
        height: auto;
        background-position: center;
        background-image: url('../../images/documents.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      .documents-right {
        display: block;
        padding-left: 2rem;
        h2 {
          text-align: left;
          font: bold 40px/100px Product Sans;
          letter-spacing: 0;
          color: #413C48;
          opacity: 1;
        }
        .document-1{
          display: block;
          position: relative;
          top: 25%;
          left: 02%;
          height: 30%;
          width: 100%;
          .track-growth-image {
            display: block;
            background-position: center;
            background-size: 50%;
            background: transparent url('../../images/track-your-growth.svg') 50% 50% no-repeat padding-box;
          }
        }
      }
    }
}

@media (max-width: 425px) and (min-width: 320px) {
  .lh-documents-section{
    width: 100%;
    height: 100%;
    min-height: 600px;
    padding: 0.3rem 0 1.3rem 0;
    // margin-top: 2rem;
    .lh-documents-cols{
      margin: 0rem;
      height: 600px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      .documents-left{
        display: block;
        order: 2;
        // height:50%;
        height: 200px;
        background-size: contain;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }
      .documents-right{
        height: 50%;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 1;
        .document-1{
          height: 100%;
          top: 0;
          left: 0;
          .track-growth-image{
            display: none;
          }
          h1{
            font-family: 'Product Sans';
            position: relative;
            left: 3rem;
            font-size: 1.2em;
            color: #0D1A35;
          }
        }
      }
    }
  }
}